<div *ngIf="order">
    <h2>Order {{order.id}}</h2>
    <div>
        <label>Client name: </label> {{order.client.name}}
        <select [(ngModel)] = "order.client">
          <option *ngFor="let client of clients" [ngValue]="client">
            {{client.name}}
          </option>
        </select>

        <label>Book title: </label> {{order.book.title}}
        <select [(ngModel)] = "order.book">
          <option *ngFor="let book of books" [ngValue]="book">
            {{book.title}}
          </option>
        </select>

        <label>Price: </label> {{order.price}}
        <input [(ngModel)]="order.price" placeholder="price">
    </div>
    <button (click)="delete()">Delete</button>
    <button (click)="update()">Update</button>
    <button (click)="goBack()">Back</button>
</div>
